/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2014, 2:43:37 PM
    Author     : saikrishna
*/

.default-background {
    -fx-background-image: url('/hyenas/images/Background.jpg');
    -fx-background-size: cover;
}

.system-background {
    -fx-background-image: url('/hyenas/images/SystemBackground.jpg');
    -fx-background-size: cover;
    -fx-border-color: orange;
    -fx-border-width: 1;
}

.label {
    -fx-text-fill: orange;
}

.title-label {
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,1), 0,0,2,2);
}

.check-box {
    -fx-text-fill: orange;
}

.choice-box .label, .menu-button .label {
    -fx-text-fill: black;
}

.planet {
    -fx-background-radius: 5, 5;
    -fx-background-color: transparent;
}

.planet:hover {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-radius: 5, 5;
    -fx-background-color: rgba(0, 231, 255, .3);
}

.planet:pressed {
    -fx-background-color: rgba(200, 200, 200, 1);
}

.currentPlanet {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-width: 3;
    -fx-border-radius: 5, 5;
}

.currentPlanet:hover {
    -fx-background-color: rgba(0, 0, 0, .2);
}

.hoverPaneLabel {
    -fx-text-fill: rgba(0,231,255, .9);
}

.alertPaneTitleLabel {
    -fx-font-size: 16;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: rgba(0,231,255, .9);
}

.alertPaneMessageLabel {
    -fx-font-size: 15;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: rgba(255,255,255, .9);
}

.allocation-pane .titleLabel {
    -fx-font-size: 23;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: rgba(0,231,255, .9);
}

.allocation-pane .skillType {
    -fx-font-size: 16;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: rgba(255,255,255, .9);
}

.alertPane {
    -fx-background-color: rgba(3,31,59, .9);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 0,0,4,4 );
    -fx-border-color: rgba(0,231,255, .9);
    -fx-border-width: 1;
}

.alertPane .button {
    -fx-background-size: 104, 27;
}

.scroll-pane {
    -fx-background: url('/hyenas/images/Background.jpg');
    -fx-background: black;
    -fx-background-color: black;
    -fx-border-color: orange;
    -fx-border-width: 1;
}

.scroll-pane .corner {
    -fx-background-color: black;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:rgba(150,150,150,.9);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(215,215,215,.9);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgba(231,231,231,.9);
}

.standard-button {
    -fx-background-image: url('/hyenas/images/Button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0,231,255, .9);
}

.standard-button:hover {
    -fx-background-image: url('/hyenas/images/Button-Highlighted.png');
}

.standard-button:pressed {
    -fx-background-image: url('/hyenas/images/Button-Pressed.png');
}

.standard-button:disabled {
    -fx-background-image: url('/hyenas/images/Button.png');
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(0,231,255, .9);
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.market-info-pane {
    -fx-background-color: rgba(3,31,59, .9);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 0,0,4,4 );
    -fx-border-color: rgba(0,231,255, .9);
    -fx-border-width: 1;
}

.market-info-pane .label {
    -fx-font-size: 16;
}