/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2014, 2:43:37 PM
    Author     : saikrishna
*/

.default-background {
    -fx-background-image: url('/hyenas/images/Background.jpg');
    -fx-background-size: cover;
}

.label, .check-box {
    -fx-text-fill: orange;
}

.choice-box .label, .menu-button .label {
    -fx-text-fill: black;
}

.planet {
    -fx-background-radius: 5, 5;
    -fx-background-color: rgba(0, 0, 0, 0);
    
}

.planet:hover {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-radius: 5;
}

.planet:pressed {
    -fx-background-color: rgba(200, 200, 200, 1);
}

.currentPlanet {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-width: 3;
}

.currentPlanet:hover {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-width: 3;
}

.infoPane {
    -fx-background-color: rgba(52, 152, 219, .9);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 0,0,4,4 );
    -fx-border-color: orange;
    -fx-border-width: 1;
}

.infoPaneLabel {
    -fx-font-size: 16;
    -fx-font-family: "Trebuchet MS";
}

.infoPaneButton {
    -fx-background-color: orange;
    -fx-font-family: "Trebuchet MS";
}

.infoPaneButton:hover {
    -fx-background-color: silver;
    -fx-background-color: rgb(255, 175 , 20);
    
    /*-fx-effect: innershadow( gaussian , rgba(255,255,255,0.2) , 0,0,0,4 );*/
}

.infoPaneButton:pressed {
    -fx-background-color: rgb(235, 165 , 13);
}